<!-- templates/landing/components/1.html -->
{% load static %}

<section class="hero hero-bg">

    <div class="overlay"></div>

    <div class="container hero-content">

        <h1>Обличчя — це <br>
            відображення <br>
            вашого стану</h1>

        <p class="subtitle">
            Глибоке відновлення обличчя і стану через роботу з тілом і психікою
        </p>

        <p>
            Я поєдную 16+ років досвіду в косметології, масажі та психології, <br>
            щоб працювати не з симптомом, а з причиною — як ззовні, так і зсередини
        </p>
        <ul class="benefits">
            <li>природний ліфтинг і покращення якості шкіри</li>
            <li>зняття напруги в тілі та обличчі</li>
            <li>відновлення ресурсу і внутрішнього стану</li>
        </ul>

        <a href="{{ telegram_link }}" class="btn primary">
            Отримати підбір під свій стан
        </a>

        <p class="highlight">
            Навчання масажу • психологічна підтримка • косметологія і домашній догляд
        </p>

    </div>

</section>