<!-- templates/landing/components/3.html -->
{% load static %}

<section class="insight reveal">

    <div class="container split-grid">

        <div>

            <h2>Проблема не в обличчі, а в тому, що за ним стоїть</h2>

            <p>
                Обличчя — це не окрема зона, воно відображає:
            </p>

            <ul class="benefits">
                <li>стан тіла</li>
                <li>рівень напруги</li>
                <li>емоційний фон</li>
            </ul>

            <p>
                Стрес, втома, внутрішні переживання
                завжди проявляються через:
            </p>

            <ul class="benefits">
                <li>затиснуті м’язи</li>
                <li>набряки</li>
                <li>зміну контурів обличчя</li>
            </ul>

            <p class="highlight">
                Сон — найкращий косметолог.
                Але коли тіло в напрузі,
                а нервова система перевантажена —
                навіть він не працює на повну.
            </p>

        </div>

        <div class="side-image">
            <img src="{% static 'images/photo_3.jpg' %}" alt="">
        </div>

    </div>

</section>