<!-- templates/landing/components/4.html -->
{% load static %}

<section class="solution reveal">

    <div class="container narrow">

        <h2>
            Це рішення набагато ефективніше 
            за звичайні процедури 
        </h2>

        <p class="subtitle">
            Комплексна робота: психіка + тіло
        </p>

        <p>
            Я поєдную масаж, психологічну роботу
            та тілесні й енергетичні практики,
            щоб працювати з причиною, а не проявами
        </p>

        <p>
            Кожна зустріч — це індивідуальний процес,
            який може включати:
        </p>

        <ul class="benefits">
            <li>Психологічну консультацію</li>
            <li>Роботу з емоційним станом через емоційно-образну терапію і процессінг</li>
            <li>Глибоку енергетичну практику Access Bars</li>
            <li>Тілесну практику ( масаж тіла і /або обличчя )</li>
        </ul>

        <p>
            Я не працюю за шаблоном
        </p>

        <p>
            Я працюю з вашим станом тут і зараз
        </p>

        <div class="middle-image">
            <img src="{% static 'images/photo_4.jpg' %}" alt="">
        </div>

        <a href="{{ telegram_link }}" class="btn primary">
            Записатися на комплексну роботу
        </a>

        <p class="highlight">
            Саме тому результат не одноразовий,
            а накопичується і закріплюється
        </p>

    </div>

</section>