<!-- templates/landing/components/5.html -->
{% load static %}

<section class="block">

    <div class="container split-grid">

        <div>

            <h2>Як проходить робота і чого очікувати</h2>

            <p>Ми визначаємо ваш стан і запит</p>

            <p>Я підбираю формат роботи під вас</p>

            <p>Поєдную психологію і тілесну роботу</p>

            <p>Закріплюємо результат через тіло і нервову систему</p>

            <p class="highlight">
                Ви не просто отримуєте процедуру,
                ви проживаєте процес,
                у якому тіло розслабляється,
                а стан поступово вирівнюється
            </p>

        </div>

        <div class="side-image">
            <img src="{% static 'images/photo_5.jpg' %}" alt="">
        </div>

    </div>

</section>