<!-- templates/landing/components/7.html -->
{% load static %}

<section class="block dark-soft">

    <div class="container narrow">

        <h2>Сенси нашої реальності</h2>

        <p>
            Я працюю не тільки з естетикою,
            а з відновленням людини в цілому
        </p>

        <p>
            Я також працюю з військовими
            в межах благодійних проєктів,
            де допомагаю через тілесну роботу
            знімати напругу, відновлювати стан і ресурс.
        </p>

        <p class="highlight">
            Цей досвід ще більше поглибив моє розуміння того,
            як тіло зберігає стрес
            і як важливо працювати
            не тільки фізично, а й на рівні стану
        </p>

        <div class="bottom-image">
            <img src="{% static 'images/photo_7.jpg' %}" alt="">
        </div>

    </div>

</section>