<!-- templates/landing/components/8.html -->
{% load static %}

<section class="block">

    <div class="container narrow">

        <h2>Чому мені довіряють</h2>

        <ul class="benefits">
            <li>16+ років практики</li>
            <li>авторська техніка SculptFace massage</li>
            <li>призові місця на міжнародних чемпіонатах</li>
            <li>поєднання косметології, масажу і психології</li>
            <li>індивідуальний підхід і супровід після процедур</li>
        </ul>

        <p class="highlight">
            Колись одна з клієнток сказала мені:
            “Ви працюєте як скульптор”.
            І саме з цього народилась
            моя авторська техніка
            скульпт-моделюючого масажу обличчя.

            Я постійно навчаюсь і оновлюю підхід,
            щоб працювати не по шаблонах,
            а по стану людини
        </p>

        <div class="bottom-image">
            <img src="{% static 'images/photo_8.jpg' %}" alt="">
        </div>

    </div>

</section>