{% load static %}

<section class="services reveal">

    <div class="container">

        <h2>Інші формати роботи зі мною</h2>

        <div class="services-grid">

            <!-- CARD 1 -->

            <div class="service-card accordion">

                <img src="{% static 'images/photo_9.1.jpg' %}" alt="">

                <h3>Навчання масажу</h3>

                <div class="accordion-content">

                    <p>
                    Навчання для масажистів, косметологів і новачків, які хочуть працювати глибше та бачити причину, а не лише симптом.
                    </p>

                    <p>
                    Авторська техніка SculptFace massage, розуміння анатомії, логіки роботи з тілом, методичка, підтримка та сертифікат після навчання.
                    </p>

                </div>

            </div>

            <!-- CARD 2 -->

            <div class="service-card accordion">

                <img src="{% static 'images/photo_9.2.jpg' %}" alt="">

                <h3>Психологічна підтримка</h3>

                <div class="accordion-content">

                    <p>
                    Психологічна робота через емоційно-образну терапію (ЕОТ) та Access Bars.
                    </p>

                    <p>
                    ЕОТ — метод, який допомагає працювати з глибокими внутрішніми станами через образи, що виникають у свідомості людини.
                    </p>

                    <p>
                    Access Bars — енергетична практика, яка через м’який дотик до 32 точок на голові допомагає вивільнити напругу, страхи та внутрішні блоки.
                    </p>

                </div>

            </div>

            <!-- CARD 3 -->

            <div class="service-card accordion">

                <img src="{% static 'images/photo_9.3.jpg' %}" alt="">

                <h3>Косметологія і домашній догляд</h3>

                <div class="accordion-content">

                    <p>
                    Естетична косметологія обличчя і тіла, апаратні методики, інʼєкційна косметологія, обгортання та індивідуальний підбір домашнього догляду.
                    </p>

                    <p>
                    Стійкий результат неможливий без правильно підібраного домашнього догляду — саме тому важливо працювати в комплексі з косметологом.
                    </p>

                </div>

            </div>

        </div>

    </div>

</section>